
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">

                        <button pButton pRipple label="Criar" class="p-button-success mr-2" (click)="openNew()"></button>
                <!-- --><button pButton pRipple label="Listar" class="p-button-sucess mr-2" (click)="listProducts()"></button>
                <!-- --><button pButton pRipple label="Editar" class="p-button-sucess mr-2" (click)="editProduct"></button>
                        <button pButton pRipple label="Deletar" class="p-button-danger" (click)=" deleteSelectedProducts()"></button>
                    
                    
                    </div>
                </ng-template>
                <!--
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            -->
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gerenciar Pets</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <!-- Mexi neste menu -->
                        <th pSortableColumn="name">Nome<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="category">Especie<p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="sex">Sexo<p-sortIcon field="sex"></p-sortIcon></th>
                        <th pSortableColumn="color">Cor<p-sortIcon field="color"></p-sortIcon></th>
                        <th pSortableColumn="weight">Peso<p-sortIcon field="weight"></p-sortIcon></th>
                        <th pSortableColumn="birthday">Nascimento<p-sortIcon field="birthday"></p-sortIcon></th>
                        <th></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{product.price | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.category}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Detalhes do Pet" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                
                <!-- Nome -->
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Insira nome do seu Pet</small>
                </div>
            
            <div class="formgrid grid">

                <!-- Data de Nascimento -->     
                <div class="field col">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <input type="date" id="birthday" pInputText [(ngModel)]="product.birthday" required />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.birthdate">A data de nascimento é obrigatória.</small>
                </div>                      
       
                <!-- Peso: -->
                <div class="field col">
                    <label for="peso">Peso (kg)</label>
                    <p-inputNumber id="weight" [(ngModel)]="product.weight" mode="decimal" min="0" step="0.01"></p-inputNumber>
                </div>

                <!-- Cor -->
                <div class="field col">
                    <label for="cor">Cor</label>
                    <input type="text" id="color" pInputText [(ngModel)]="product.color" required />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.color">A cor é obrigatória.</small>
                </div>
            </div>

             <!-- Sexo -->                
            <div class="field">
                <label for="sexo">Sexo</label>
                <p-dropdown [(ngModel)]="product.sex" inputId="sex" optionValue="label" [options]="statuses" placeholder="Select">
                    <ng-template pTemplate="selectedItem">
                        <span *ngIf="product && product.inventoryStatus" [class]="'product-badge status-' + product.inventoryStatus.toString().toLowerCase()">{{product.inventoryStatus}}</span>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>                                                                                                                                                                                                                  
           
            <!-- Especie -->
            <div class="field">
                <label class="mb-3">Espécie</label>
                <div class="formgrid grid">
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="especie1" name="species" value="Cão" [(ngModel)]="product.spicies"></p-radioButton>
                        <label for="category1">Cão</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="especie2" name="species" value="Gato" [(ngModel)]="product.spicies"></p-radioButton>
                        <label for="category2">Gato</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="especie3" name="species" value="Pássaro" [(ngModel)]="product.spicies"></p-radioButton>
                        <label for="category3">Pássaro</label>
                    </div>
                    <div class="field-radiobutton col-6">
                        <p-radioButton id="especie4" name="species" value="Animal Exótico" [(ngModel)]="product.spicies"></p-radioButton>
                        <label for="category4">Animal Exótico</label>
                    </div>
                </div>
            </div>          
                              
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Deseja deletar este item <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Deseja apagar os itens selecionados ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

